
 .tax-form{
  padding:30px 0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-flow:column;
          flex-flow:column;
}

.tax-form .btn-tax-form{
  display:block;
  padding:10px 25px;
  background-color: transparent;
  border-radius: 5px;
  -webkit-box-shadow:2px 2px 5px rgba(0,0,0,.2);
          box-shadow:2px 2px 5px rgba(0,0,0,.2);
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  border:1px solid black;
  margin:15px auto 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.tax-form .btn-tax-form:hover{
 -webkit-transform:scale(.95);
     -ms-transform:scale(.95);
         transform:scale(.95);
}
.tax-form .btn-tax-form:active{
 -webkit-transform:scale(1.05);
     -ms-transform:scale(1.05);
         transform:scale(1.05);
}

.tax-form-output.success{
 background-color: rgba(0, 240, 100, 0.39);
 padding:15px;
 border-radius:5px;
 margin-bottom:20px;
 text-align:center;
}